@page
@model Try.Pages.IndexModel
<link href="~/css/navbar.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Great+Vibes&display=swap" rel="stylesheet">


@await Html.PartialAsync("Shared/_Navbar")

<div class="homepage">
    <div class="sidebar" id="adminSidebar" style="display: none;">
        <h1>Admin Panel</h1>
        <a href="/AdminDashboard">Dashboard</a>
        <a href="/AdminProducts">Products</a>
        <a href="/AdminCustomers">Customers</a>
        <a href="/AdminOrders">Orders</a>
        <a href="#" id="logoutBtn">Logout</a>
    </div>

    <div class="search-bar-container">
        <input type="text" id="searchInput" placeholder="Search by name..." />
        <button id="searchBtn">🔍</button>
    </div>

    <button id="filterToggle">Filter ⌄</button>

    <div id="filterSidebar" class="filter-sidebar hidden">
        <button id="closeFilter">&times;</button>

        <h4>Category</h4>
        <div id="filterCategories"></div>

        <h4>Colour</h4>
        <div id="filterColors"></div>

        <h4>Material</h4>
        <div id="filterMaterials"></div>

        <h4>Price</h4>
        <input type="number" id="minPrice" placeholder="Min">
        <input type="number" id="maxPrice" placeholder="Max">

        <button id="applyFilters">Show Products</button>
    </div>


    <div id="productList"></div>

    <main>
        <h2 class="collection-title">Our Collection</h2>
        <div id="productContainer">
            <!-- Produsele se vor adăuga aici dinamic -->
        </div>
    </main>
</div>

<script src="~/js/index.js"></script>
<script src="~/js/general.js"></script>
<script src="~/js/modals.js"></script>
